/* This file contains the CSS for the blog page and the post pages*/

/***Blog Page CSS***/
#pageContainer{
	/* I also use this for just a container*/
	margin-top: 25px;
	height: auto;
	padding: 5px 10px 5px 10px;
	
	border: 0px 0px 2px 2px solid rgba(0,0,0,0.25);
	box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	border-radius: 6px;
	
	font-family: sans-serif;
	/*bootstrap likes to make the font size weird.*/
	font-size: 1.25em; 
	line-height: 150%;
	
}
#pageContainer ul, li{
	list-style-type: none;
	margin: 0;
	padding: 0;
}
#pageContainer li{
	text-align: left;
}

.sepLine{
	margin : 5px auto 10px auto;
	height: 2px;
	background: #a5a5a5;
	border-radius: 20px;
	border-bottom: 2px solid rbga(0,0,0,0.25);
}

#blogPostExcerpt{
	font-weight: normal;
	font-size: 1em;
	
}

#blogPostDate{
	font-weight:100;
	font-size:0.8em;
	font-style:italic;
	color: #268e00;
}


/***Post Page Css***/

#postContainer{
	margin-top: 25px;
	height: auto;
	padding: 5px 10px 5px 10px;
	
	border: 0px 0px 2px 2px solid rgba(0,0,0,0.25);
	box-shadow: 0 1px 3px rgba(0,0,0,0.6);
	border-radius: 6px;
	
	font-family: sans-serif;
	text-align: justify;
}

.postTitle{
	
}
.postDate{
	
}
.postContent{
	font-size: 1.225em;
}


