---
layout: default
---

<div id="pageContainer">
	<ul>
<!--
		<h3>twitter: None</h3>
		<h3>facebook: None</h3>
-->
		<h3>Email: <a href="mailto:{{page.email}}">{{page.email}}</a></h3>
		<h3>Github: <a href="https://github.com/{{page.github}}">{{page.github}}</a></h3>
		
		<!-- Do not change the code! -->
<!--
<a id="foxyform_embed_link_457000" href="http://www.foxyform.com/">foxyform</a>
<script type="text/javascript">
(function(d, t){
   var g = d.createElement(t),
       s = d.getElementsByTagName(t)[0];
   g.src = "http://www.foxyform.com/js.php?id=457000&sec_hash=346144d3649&width=350px";
   s.parentNode.insertBefore(g, s);
}(document, "script"));
</script>
-->
<!-- Do not change the code! -->
		
	</ul>
</div>