<!Doctype html>
<!--AWWWWWWWWWW SH#! HTML5 DOCTYPE IN THIS BIZNITCH-->

<html ng-app="MyBlog" >
    <head >        
        <title>{{page.title}}</title>  

    
        <link rel="stylesheet" href="/css/main.css"/>
		<!-- _includes stylesheet -->
		<link rel="stylesheet" href="/css/includes.css"/>
		<!-- blogs/post stylesheet -->
		<link rel="stylesheet" href="/css/blog.css"/>
		<!-- syntax -->
		<link rel="stylesheet" href="/css/syntax.css"/>
 		<!-- Jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <!-- Angular -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js" data-semver="1.4.7" data-require="angular.js@*"></script>

		<!-- Custom Fonts -->
		<script src="http://use.edgefonts.net/comfortaa:n4,n3,n7:all.js"></script>
        
        <!-- Scripts -->
        <script src="/js/app.js"></script>
        
	</head>
    
    <body >
        <div id = "container" class="highlight">
			 
			{% include header.html %}
			
			{{ content }}
			
			{% include footer.html %}
		
        </div>
        
    </body>
</html>
